<div class="border-end border-warning">
  <div class="text-center">
    <img
      src="https://media.licdn.com/dms/image/D4D35AQGOMOGoNAXMUw/profile-framedphoto-shrink_200_200/0/1673518584648?e=1676286000&v=beta&t=ubcs05TTt9umFjje10RuKoYGkV6hDch6bJc9cnJzSr0"
      alt=""
      class="img-fluid rounded-circle mt-5"
    />
    <h3 class="text-white st-font mt-3">Mujtaba__Dev</h3>
  </div>

  <nav class="nav flex-column mt-4">
    <a href="/" class="nav-link <% if(page_name== 'Home') {%> active <% } %>"
      >Home</a
    >
    <a
      href="/services"
      class="nav-link <% if(page_name== 'services') {%> active <% } %>"
      >Services</a
    >
    <a
      href="/skill"
      class="nav-link <% if(page_name== 'skill') {%> active <% } %>"
      >Skill</a
    >
    <a
      href="/contact"
      class="nav-link <% if(page_name== 'contact') {%> active <% } %>"
      >Contact</a
    >
  </nav>
</div>
