<!-- header  -->
<%- include('./partials/header.ejs') %>

<!-- content  //  siderbar -->
<div class="container-fluid bg-dark" style="height: 100vh">
  <div class="row">
    <div class="col-sm-2">
      <!-- sidebar  -->
      <%- include('./partials/sidebar.ejs' , {page_name:'contact'}) %>
    </div>

    <!-- main content  -->
    <div class="col-sm-10">
      <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Example textarea</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="text-center mt-5">
          <button class="bg-warning border-0">Hire me</button>
          <button class="bg-warning border-0">Contact me</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer  -->
<%- include('./partials/footer.ejs') %>
